.page-content {
    padding-top: 56px
}

.main-table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; */
}

.mdl-layout__drawer {
    display: block;
    margin-right: auto;
}

.demo-card-square.mdl-card.card-high {
    height: 320px;
}

.demo-card-square.mdl-card {
    display: inline-flex;
    width: 320px;
    height: 280px;
    margin: 10px;
}

.demo-card-square>.mdl-card__title {
    color: #fff;
}

.mdl-data-table__cell--non-numeric {
    max-width: 500px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.mdl-textfield {
    width: 100%;
    /* min-width: 30px; */
}